# shellcheck disable=SC2148,SC2155

#
# Be sure we have folder for secrets
#
mkdir -p "${PWD}/.secrets"
#
# automatically switch NODE version based on .nvmrc
#
[ -z "${NVM_DIR}" ] && export NVM_DIR="$HOME/.nvm"
export NODE_VERSIONS="${NVM_DIR}/versions/node"
export NODE_VERSION_PREFIX="v"
use node
#
# Ask Node.js to skip warnings printing
#
export NODE_NO_WARNINGS=1
#
# Enable default DEBUG levels
#
export DEBUG=
#
# OpenAI API key, see https://beta.openai.com/account/api-keys
#
export OPENAI_API_KEY=$(cat "${PWD}/.secrets/openai_api_token")
