# do not allow commit of secrets
.secrets/

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# node_modules and build files
node_modules/
dist/
coverage/
build/
.cache/
reports/

# backup files
*.bak
*.orig
*.old
*.log
*.tmp

# environment files
.env.*.local
.env.local

# unit tests data
output/*
!output/160638f3-3dbc-4a3f-b416-f94c732bc3bb
